
<div id="main_content_wrapper" style="width: 700px; margin: 0 auto;">

	<div id="questionBlock">
		<div style="display:inline">
			<div id="questionTags" class="input-group" style="width:500px;float:left">
				<span class="input-group-addon" id="basic-addon1"><span
					class="glyphicon glyphicon-tags" aria-hidden="true"></span></span>
					<input type="text" class="form-control" ng-change="updateCategories()" ng-model="tags.filterValue" ng-trim="false" bs-options="tag for tag in tags.allTagNames" placeholder="Add tags here..." bs-typeahead>
			</div>
			
			<div id="difficulty_rating" style="float:right" >
			
				<h5 style="display:inline">Difficulty:</h5>

				<button ng-click="changeDifficulty('minus')" type="button" class="btn btn-default " aria-label="minus button">
					<span class="glyphicon glyphicon-minus" aria-hidden="true"></span>
				</button>
			
				<h4 style="display:inline"><span id="difficulty_span" class="label label-danger">{{question.difficulty}}</span></h4>
			
				<button ng-click="changeDifficulty('plus')" type="button" class="btn btn-default " aria-label="plus button">
					<span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
				</button>						
			
			</div>

		</div>
		<br>
		<br>
		<br>

		<div class="panel panel-default" style="width:100%;height:auto;overflow:auto">
			<div ng-repeat="tagToAddToQuestion in tags.tagsNamesToAddToQuestion" style="display:inline;float:left;padding:3px;padding-right:8px">
			<span style="display:inline" class="glyphicon glyphicon-tag" aria-hidden="true"></span>
				{{tagToAddToQuestion}}
			</div>

		</div>
		<div id="questionTitle" class="input-group">
			<input ng-model="question.questionText" id="questionText" type="text" class="form-control"
				placeholder="Question" aria-describedby="basic-addon1">
			<span class="input-group-addon" id="basic-addon1"><span
				class="glyphicon glyphicon-question-sign" aria-hidden="true"></span></span>
		</div>
		<br>
		<div id="question_explanation">

			<textarea ng-model="question.questionDescription" id="descriptionText" style="height: 200px"
				class="form-control" placeholder="Explanation"
				aria-describedby="basic-addon1"></textarea>

		</div>
		<br>
		
		<div id="button">
			<button ng-click="postDescriptiveQuestion()" type="submit" class="btn btn-primary">Submit</button>
			<button type="button" class="btn btn-primary">Clear</button>
		</div>
	</div>
</div>
