 <head>
 	<title>Profile | InterviewMile</title>
    <meta name="keywords" content="profile page,statistics,total points,graph,analysis,graphical analysis,sub topic points,experience points">
    <meta name="description" content="Shows the profile of a user with his name, total score, experience points with a graph of score in each category for statistical analysis of strong and weak topics">
    <script>
            (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
            (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
            m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
            })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

            ga('create', 'UA-80250123-1', 'auto');
            ga('send', 'pageview');
    </script> 
</head>

<div id="main_content_wrapper" style="width: 1000px; margin: 0 auto;margin-top:30">
    
    <div id="PageHeaderDiv" style="width:100%;padding-top:50px">
        <div class="row" style="width:20%;float:left">

        </div>

        <div class="row" style="width:80%;float:right">
            <h3 style="display:inline"><span class="glyphicon glyphicon-question-user" aria-hidden="true"></span></h3>
            <h1 style="display:inline">Profile <small>| {{Profile.General.first_name}} {{Profile.General.last_name}}</small></h1>
            <p style="padding-top:20px">Get hired based on your performance in the <a style="font-color:red;font-weight:underlined" href="#OnlineMockTests/ChooseATest"><u><b>Hiring test !</b></u></a> Upload your resume here to get calls from companies!</p>
            <hr>
        </div>
        <div style="display: block; clear: both;"></div>
    </div>

    <div class="row" style="width: 20%;float:left;margin-top:0px">

        <ul class="nav nav-pills nav-stacked">
          <li role="presentation" ng-class="generalClass" ng-click="selectSection('general')"><a>General</a></li>
          <li role="presentation" ng-class="resumeClass" ng-click="selectSection('resume');loadLinks()"><a>Resume and Links</a></li>
          <li role="presentation" ng-class="summaryClass" ng-click="selectSection('summary');loadSummary()"><a>Summary</a></li>
          <li role="presentation" ng-class="userSkillClass" ng-click="selectSection('userSkills');loadAllUserSkillsData()"><a>User Skills</a></li>
          <li role="presentation" ng-class="workClass" ng-click="selectSection('work');loadWorkAndEducationInfo()"><a>Work</a></li>
          <li role="presentation" ng-class="educationClass" ng-click="selectSection('education');loadWorkAndEducationInfo()"><a>Education</a></li>
        </ul>

    </div>

	<div ng-include="load_profile_section" class="row" style="width:80%;float:right;margin-top:0px">
        
	</div>
</div>

