 <head>
 	<title>Profile | InterviewMile</title>
    <meta name="keywords" content="profile page,statistics,total points,graph,analysis,graphical analysis,sub topic points,experience points">
    <meta name="description" content="Shows the profile of a user with his name, total score, experience points with a graph of score in each category for statistical analysis of strong and weak topics">
    <script>
            (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
            (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
            m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
            })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

            ga('create', 'UA-80250123-1', 'auto');
            ga('send', 'pageview');
        </script>
</head>
<div id="main_content_wrapper" style="width: 700px; margin: 0 auto;margin-top:30">
	<div class="row" style="padding-top:50px">


		<h3 style="display:inline"><span class="glyphicon glyphicon-question-user" aria-hidden="true"></span></h3>
        <h1 style="display:inline">Profile <small>| {{Profile.first_name}} {{Profile.last_name}}</small></h1>
        <hr>

		<div  style="width:100%" class="col-md-6">
            
        
            <table style="width:90%">
                <tr style="padding:10px">
                    <td class="form_profile_td settings-page-label">
                        <div class="input-group-lg">
                        Username : 
                     </div>
                    </td>
                    <td class="form_profile_td settings-page-inputs">
                        <div class="input-group-lg">
                        <input ng-disabled="true" ng-model="Profile.username" type="text" class="form-control">
                     </div>
                    </td>
                    
               </tr>
               <tr>
                    <td class="form_profile_td settings-page-label">
                        <div class="input-group-lg">
                        Email ID : 
                     </div>
                    </td>
                    <td class="form_profile_td settings-page-inputs">
                        <div class="input-group-lg">
                        <input ng-disabled="true" ng-model="Profile.email" type="text" class="form-control">
                     </div>
                    </td>
                    
               </tr>
               <tr>
                    <td class="form_profile_td settings-page-label">
                        <div class="input-group-lg">
                        Joining Date : 
                     </div>
                    </td>
                    <td class="form_profile_td settings-page-inputs">
                        <div class="input-group-lg">
                        <div ng-disabled="true" ng-bind="Profile.date_joined | date:'dd/MMM/yyyy'" type="text" class="form-control">
                        </div>
                     </div>
                    </td>
                    
               </tr>
               <tr>
                    <td class="form_profile_td settings-page-label">
                        <div class="input-group-lg">
                        Contact No : 
                     </div>
                    </td>
                    <td class="form_profile_td settings-page-inputs">
                        <div class="input-group-lg">
                        <input ng-disabled="true" ng-model="Profile.contact_no" type="text" class="form-control" placeholder="Contact Number" >
                     </div>
                    </td>
                    
               </tr>
         		<tr>
			        <td class="form_profile_td settings-page-label">
			            <div class="input-group-lg">
			            Resume : 
			         </div>
			        </td>
			        <td class="form_profile_td settings-page-inputs">
			        	<form action="https://interviewmile.com:8000/api/user/upload_resume/" method="post" enctype="multipart/form-data">
			            <div class="input-group-lg">
				            <p>
				              <input style="display:inline-block;float:left;width:65%" id="id_image" type="file" class="" name="document">
				              <input id="abc" type="hidden" class="" name="username" value="{{sidebarUserModel.userName}}">
				              <input style="float:right;width:33%" type="submit" value="Upload Resume" />
				            </p>
			            
			            </div>
			            </form>
			        </td> 
			   </tr>
            </table>
            <br>
         
      </div>

	</div>
</div>