<!-- <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet" > -->

<div style="margin-top:40px;margin-bottom:40px" class="panel panel-default">
	<div style="width: 100%; height: auto;overflow:auto" class="panel-heading">
		<div style="float: left; width: 100%">
			<div style="display:inline;width:10%">
				<h3 style="display:inline;color:#187FD6"> Q] </h3>
			</div>
			<div style="display:inline;width:90%">
				<h3 style="float:top;display:inline" class="panel-title" ng-bind-html="question.title"></h3>
			</div>
		</div>
	</div>

	<div class="panel-body">
		<div style="width:100%" class="btn-group"  aria-label="...">
			<div style="visibility:hidden"></div>
			<div id="choicesDiv" ng-repeat="choice in questionIdToChoicesDictionary[question.id]" style="display:inline">
				<div ng-class="applyClassToSelectedChoice(question,choice,$index)" ng-click="validateChoice(question,choice,$index)" style="width:49%;height:auto;overflow:auto;border:0px"  class="btn btn-default">
					<h4 style="float:left;vertical-align:middle;display:inline">
						<span style="float:left;vertical-align:middle;display:inline" ng-class="applyColors(question,choice)" class="label label-default">{{'ABCDEFGH'[$index]}}
						</span> 
						<div style="float:left;vertical-align:middle;display:inline;padding-left:4px" ng-bind-html="choice.choice_text"></div>
					</h4>
				</div>
			</div>
			
			<div style="visibility:hidden" ></div>		

		</div>
	</div>

	<div class="panel-footer" style="width: 100%; overflow:auto">
		<div style="display:inline;width:75%:float:left" ng-repeat="category in questionIdToCategoriesDictionary[question.id]">
			<div style="display:inline;float:left;margin-right:4px" ng-include="getTagTemplateQnA()"></div>
		</div>
		<div style="display:inline;width:10%:float:right">
			<span ng-class="getColorForDifficulty(question.difficulty_level)" class="badge" style="float: right;font-size:15px;color:black">{{question.difficulty_level}}</span>
		</div>

		<div ng-show="userModel.isAdmin" style="float: right; width: 4%;padding-right:15px">
 			<a href="ViewQuestion/{{question.kind}}/{{question.id}}" style="color:inherit" ><span style="float: left" class="glyphicon glyphicon-comment" aria-hidden="true"></span></a>
 		</div>
 		<div ng-show="userModel.isAdmin" style="float: right; width: 4%">
 			<a  href="EditQuestion/{{question.kind}}/{{question.id}}" ><span style="float: left" class="glyphicon glyphicon-edit" aria-hidden="true"></span></a>
 		</div>
 		<div ng-show="question.isSolved" ng-click="displaySolution(question)" style="float:right; width: 4%">
 			<a href="#" ><span style="float: left" class="glyphicon glyphicon-info-sign" aria-hidden="true"></span></a>
 		</div>
	</div>
</div>
