<!-- <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet" > -->

<div class="panel panel-default">
	<div style="width:100%;height:auto;overflow:auto" class="panel-heading">
		<div style="display:inline;width:90%:float:left" ng-repeat="category in ctDict[question.id]">
			<div style="display:inline;float:left;margin-right:4px" ng-include="getTagTemplateQnA()"></div>
		</div>
		<div style="display:inline;width:10%:float:right">
			<span class="badge" style="float: right">{{question.difficulty_level}}</span>
		</div>
	</div>
	<div style="width: 100%; height: auto;overflow:auto" class="panel-heading">
		<div style="float: left; width: 100%">
			<div style="display:inline;width:10%">
				<h3 style="display:inline"> Q] </h3>
			</div>
			<div style="display:inline;width:90%">
				<h3 style="float:top;display:inline" class="panel-title">{{question.title}}</h3>
			</div>
		</div>
	</div>
	
	<div></div>
	

	<div class="panel-body">
		<div style="width:100%" class="btn-group"  aria-label="...">
			<div style="visibility:hidden"></div>
			<div id="choicesDiv" ng-repeat="choice in choiceDict[question.id]" style="display:inline">
				<div ng-class="applyClassToSelectedChoice(question,choice,$index)" ng-click="validateChoice(question,choice,$index)" style="width:49%;height:auto;overflow:auto;border:0px"  class="btn btn-default">
					<h4 style="float:left;vertical-align:middle"><span ng-class="applyColors(question,choice)" class="label label-default">{{'ABCDEFGH'[$index]}}</span> {{choice.choice_text}}</h4>
				</div>
			</div>
			
			<div style="visibility:hidden" ></div>		

		</div>
	</div>

	<div class="panel-footer" style="width: 100%; height: 35px">
		<div style="float: left; width: 40%">
			<h5 class="panel-title">Author: InterviewMile</h5>
		</div>



		<div style="float: right; width: 60%">
			<div style="float: right; width: 7%">
				<a href="ViewQuestion/{{question.kind}}/{{question.id}}" ><span style="float: right" class="glyphicon glyphicon-comment"
					aria-hidden="true"></span></a>
			</div>
			<div style="float: right; width: 7%">
				<a href="EditQuestion/{{question.kind}}/{{question.id}}" ><span style="float: right" class="glyphicon glyphicon-edit"
					aria-hidden="true"></span></a>
			</div>
		</div>
	</div>
</div>
