<!-- <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet" > -->

<div class="panel panel-default">

	<div style="width: 100%; height: auto;overflow:auto" class="panel-heading">
		<div style="float: left; width: 93%">
			<div style="display:inline;width:10%">
				<h3 style="display:inline;color:#187FD6"> Q{{question.testId}}] </h3>
			</div>
			<div style="display:inline;width:90%">
				<h3 style="float:top;display:inline" ng-bind-html="question.title" class="panel-title"></h3>
			</div>
		</div>
		<div ng-show="isTestSubmitted" style="display:inline;width:7%:float:right">
			<span ng-bind-html="question.difficulty_level" class="badge" style="float: right"></span>
		</div>
	</div>
	

	<div class="panel-body">
		<div style="width:100%" class="btn-group"  aria-label="...">
			<div style="visibility:hidden"></div>
			<div id="choicesDiv" ng-repeat="choice in question.choices" style="display:inline">
				<div ng-class="applyClassToSelectedChoice(question,choice,$index)" ng-click="validateChoice(question,choice,$index)" style="width:49%;height:auto;overflow:auto;border:0px"  class="btn btn-default">
					<h4 style="float:left;vertical-align:middle;display:inline">
						<span style="float:left;vertical-align:middle;display:inline" ng-class="applyColors(question,choice)" class="label label-default">{{'ABCDEFGH'[$index]}}
						</span> 
						<div style="float:left;vertical-align:middle;display:inline;padding-left:4px" ng-bind-html="choice.choice_text"></div>
					</h4>
				</div>
			</div>
		</div>
	</div>

	<div style="width:90%;padding:20px" ng-show="isTestSubmitted">
		Solution:
		<div class="well well-sm" style="padding-left:20px" ng-bind-html="question.description"></div>
	</div>

</div>
