 <head>
    <title>Online Mock Tests | InterviewMile</title>
    <meta name="keywords" content="online tests, sample tests, mock tests,choose a test, free tests, free sample mock, aptitude test, online mock, practice test, C Programming tests, C++ Programming tests, C sample, C++ sample, interview preparation tests">
    <meta name="description" content="Take online mock tests for practice from various topics like Aptitude, C Programming language, C++ Programming language and get test statistics">
    <script>
            (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
            (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
            m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
            })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

            ga('create', 'UA-80250123-1', 'auto');
            ga('send', 'pageview');
        </script>
</head>
<div id="main_container" style="width:1000px;margin:0 auto;">
    <div style="padding:20px" class="container-fluid">
    <div class="jumbotron">
              <h1>Hiring Test 1 <small>| 26 Feb '17, 12:00 pm</small></h1>
              <h2 style="font-size:40px">Time to go <small>| </small><small id="demo"></small></h2>
              <p style="padding-top:20px">Get hired based on your performance in the test. Upload your resume <a style="font-weight:underlined" href="#Profile"><u>here</u></a> to get calls from companies!</p>

              <button ng-disabled="enableTestButton" ng-click="setMockToBeStarted(hiringTestMockID)" style="margin-top:10px" class="btn btn-success" type="button" data-toggle="modal" data-target="#startTheTestModal">Start Hiring Test<span style="margin-left:5px" class="glyphicon glyphicon-play" aria-hidden="true" ></span></button>
            </div> 
            </div>   

    <div class="container-fluid">
        <div class="row">
            <h1>Mock Tests <small>| Choose A Test</small></h1>
            <br>
            <p> Take online mock tests from a range of topics and get a statistical analysis after submitting the test</p>
            <p style="font-weight:bold;font-size:15px">Want to practice questions first? Head to our <a style="color:red;text-decoration:underline" href="#QnACrunch">QnA Crunch</a> feature!</p>
            <hr>

            

        </div> 
      
    </div>

    <div style="background-color:#F5F5F5" class="panel panel-default">
                <div class="panel-body">
                    <table style="table-layout:fixed;width:100%">
                        <tr style="text-align: center">
                            <td style="width:33%;word-wrap:break-work">
                                <h3>
                                    Overall Score <small> {{overallScore}} / {{overallMaxScore}} </small>
                                <h3>
                            </td>

                            <td style="width:33%">
                                <h3>
                                    Overall Accuracy <small> {{accuracy}} %</small>
                                </h3>
                            </td>
                            <td style="width:33%">
                                <h3>
                                    Tests Given <small> {{numberOfTestsGiven}} / {{totalNumberOfTests}} </small>
                                </h3>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        
    <div ng-include="getMockSummaryPanel(mock)" ng-repeat="mock in allMocks" style="width:100%;margin-top:10px;">
    </div>
      
</div>
