
<div id="main_container" style="width:900px;margin:0 auto;">
   <div class="container-fluid">
      <div class="row">

             <h1>Choose A Test</h1>
             <hr>

            <div class="container" style="width:100%">
                <div id="testInputBox" style="width:50%;display:inline;float:left" class="display-inline padding-10px">
                    <div class="input-group input-group-lg">
                        <span class="input-group-addon" id="sizing-addon1">
                            <span class="glyphicon glyphicon-search"></span>
                        </span>
                            <input type="text" class="form-control" ng-blur="setCategory()" ng-model="tags.filterValue" ng-trim="false" bs-options="tag for tag in tags.allTagNames" placeholder="Add tags here..." bs-typeahead>
                    </div>
                </div>
                
                <div id="durationInput" style="width:20%;display:inline;float:left" class="display-inline padding-10px"> 
                    <div class="dropdown">
                      <button style="width:100%" class="btn btn-default btn-lg dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                        {{durationText}}
                        <span class="caret"></span>
                      </button>
                      <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                        <li ng-repeat="duration in durations"><a ng-click="setDuration(duration)" href="">{{duration}} minutes</a></li>
                      </ul>
                    </div>
                </div>

                <div id="testInputBox" style="width:15%;display:inline;float:left" class="display-inline padding-10px"> 
                    <div class="dropdown">
                      <button style="width:100%" class="btn btn-default btn-lg dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                        {{difficulty}}
                        <span class="caret"></span>
                      </button>
                      <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                        <li ng-repeat="difficulty in difficulties"><a ng-click="setDifficulty(difficulty)" href="">{{difficulty}}</a></li>
                      </ul>
                    </div>
                </div>

                <div id="startTestButton" class="display-inline padding-10px" style="width:8%">
                        <a href="OnlineMockTests/TakeATest/{{selectedCategory}}/{{duration}}/{{difficulty}}">
                        <button type="button" class="btn btn-default btn-lg btn-success">
                            <span class="glyphicon glyphicon-play" aria-hidden="true"></span>
                        </button>
                    </a>
                </div>
                <br>
            </div> 
      
         </div>
        <div ng-include="getMockSummaryPanel()" style="width:33%;margin-top:30px;">
        </div>
      
      </div>
   </div>
</div>
