<div class="outermostDiv" style="margin-top:30px">

    <div class="container" style="width:50%">
        <div id="pageTitle" class="container" style="width:100%;float:left;margin:0 auto;">
            <h1>Puzzling Puzzles</h1>
            <p> Solve lots of hand picked puzzles from a variety of difficulty levels</p>
            <hr>
        </div>
    </div>

    <div class="container" style="width:700px;margin-top:20px">    
        <br>
        <div  style="width:100%">
            <div ng-repeat="questions in feed">
                <div ng-repeat="question in questions">
             
                    <div ng-include="getQuestionTemplateByType(question)"></div>            
             
                </div>
            </div>
        </div>
    </div>
</div>