<div class="aside" tabindex="-1" role="dialog">
  <div class="aside-dialog">
    <div class="aside-content">
      <div class="aside-header" ng-show="title">
        <button type="button" class="close" ng-click="$hide()">&times;</button>
        <h4 class="aside-title" ng-bind="title"></h4>
      </div>
      <div class="aside-body">
         <ul class="nav nav-pills nav-stacked">
          <li role="presentation"><a href="/" ng-click="$hide()">Home</a></li>
          <li role="presentation"><a href="Profile" ng-click="$hide()">Profile</a></li>
          <li role="presentation"><a href="QnACrunch" ng-click="$hide()">QnA Crunch</a></li>
          <li role="presentation"><a href="PostQuestion" ng-click="$hide()">Post Questions</a></li>
          <li role="presentation"><a href="PostQuestion" ng-click="$hide()">Puzzling Puzzles</a></li>
          <li class="disabled" role="presentation"><a href="#" ng-click="$hide()">Resume Builder <small style="padding:10px">Coming soon</small></a></li>
          <li class="disabled" role="presentation"><a href="#" ng-click="$hide()">Online Mock Tests <small style="padding:10px">Coming soon</small></a></li>
          <li class="disabled" role="presentation"><a href="#" ng-click="$hide()">Campus Connect <small style="padding:10px">Coming soon</small></a></li>
          <hr>
          <li role="presentation"><a href="ContactUs" ng-click="$hide()">Contact Us</a></li>
          <li role="presentation"><a href="AboutUs" ng-click="$hide()">About Us</a></li>
          <li role="presentation"><a href="#" ng-click="$hide()">Terms</a></li>
          <li role="presentation"><a href="#" ng-click="$hide()">Policy</a></li>
          
        </ul>
      </div>
      
    </div>
  </div>
</div>
