*{
    font-family: Raleway;
}
a {
    color:inherit;
}
.alert-box {
    width:26%;
    position: absolute;
    top: 100px;
    right:20px;
    z-index: 100;
}

.display-inline {
    display: inline;
}

.padding-10px {
    padding-left: 10px;
}

#testSummaryDiv {
    position: relative;
}

.social-footer{
    border: 1px solid #333;
    border-radius: 25px;
    padding: 10px;
}

.difficulty_8-10 {
    background-color:#ff3232;
}

.difficulty_6-7 {
    background-color:#FFA500;
}

.difficulty_4-5 {
    background-color:#FFD700;
}

.difficulty_1-3 {
    background-color: #32CD32;
}

.settings-page-label {
    width:40%;
    font-size:20px;
}

.settings-page-inputs {
    width:60%;
}

.make-font-bold {
    font-weight:bold;
    font-size:14px;
    color:#191970;
}

.not-important-tag {

}

.floater{
    width:20%;
    position: absolute;
}

.top {
    top: 40px;
}

.font-size-class {
    font-size:20px;
}

.make-background-color-logo {
     background-color: #163582;
}

.form_profile_td {
         padding-top:5px;
     }