*{
    font-family: Raleway;
}
a {
    color:inherit;
}
.alert-box {
    width:30%;
    position: absolute;
    top: 70px;
    right:50px;
}

.display-inline {
    display: inline;
}
.padding-10px {
    padding-left: 10px;
}
#testSummaryDiv {
    position: relative;
}


.social-footer{
            border: 1px solid #333;
        border-radius: 25px;
    padding: 10px;
    }

