*{
    font-family: Raleway;
}
a {
    color:inherit;
}
.alert-box {
    width:26%;
    position: absolute;
    top: 70px;
    right:20px;
    z-index: 100;
}

.display-inline {
    display: inline;
}
.padding-10px {
    padding-left: 10px;
}

#testSummaryDiv {
    position: relative;
}

.social-footer{
    border: 1px solid #333;
    border-radius: 25px;
    padding: 10px;
}

.difficulty_8-10 {
    background-color:#ff3232;
}

.difficulty_6-7 {
    background-color:#FFA500;
}

.difficulty_4-5 {
    background-color:#FFD700;
}

.difficulty_1-3 {
    background-color: #32CD32;
}

.settings-page-label {
    width:40%;
    font-size:20px;
}

.settings-page-inputs {
    width:60%;
}

.make-font-bold {
    font-weight:bold;
    font-size: 15px
}