
.post-tag {
    color: #696969;
    padding: 0px 4px 0px 4px;
    text-decoration: none;
    font-size: 90%;
    white-space: nowrap;
}

.post-tag:hover {
    background-color: #696969;
    color: #f1f1f1;
    text-decoration: none;
    padding: 0px 4px 0px 4px;
}
