.form_td {
    padding:5px;
}
.social_td {
    text-align: center;
}
img {
    border-radius: 50%;
    -webkit-transition: -webkit-transform .8s ease-in-out;
    transition: transform .8s ease-in-out;
}
img:hover {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
}
