<link href="LandingPage/Stylesheets/landing_page.css" rel="stylesheet" type="text/css"/>
<style>

    .divMain1{
    min-height: 530px;
    background-color:#C0C0C0;
    background-image: url('LandingPage/Images/background_image.jpg');
    background-repeat:no-repeat;
    background-size:cover;
    width:100%;
    }
    .register_signinDiv {
    width:800px;
    background-color: #FFFFFF;
    background-color: rgba(255,255,255,0.8);
    width: 60 %;
    margin: 0 auto;
    height:250px;
    }
    .form_inputs {
        width:90%;
        margin :5 auto;
        margin-left: 20;
    }
    .glyphicon {
        font-size: 40px;
    }
</style>

<div class="container-fluid divMain1">

    <div style="height:130px"></div>
    <div class="register_signinDiv">
        <h1 class = "textMod1" style="text-align:center;padding-top:20px">We help you shape your Career</h1>
        <h3 style="text-align:center">Prepare. Crack Interview. Inspire.</h3>
        <div class="row" style="margin-top:60px;">
            <div class="col-md-6 col-sm-6">
                <button type="button" class="btn-lg" style="float:right;background-color:#0E0E0E;color:white;width:140px" data-toggle="modal" data-target="#registerModal"> REGISTER </button>
                <div id="registerModal" class="modal fade" role="dialog">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header" style="background-color:#187FD6">
                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                                <h4 class="modal-title" style="color:white;font-weight: bold;text-align:center;">Register as New Member</h4>
                            </div>
                            <div class="modal-body">
                                <div class="modal-body" style="background-color:white;">
                                    <form class="form-horizontal">

                                        <div class="form-group form_input">
                                            <div class="input-group-lg" class="col-sm-8" >
                                                <span style="float:left;width:10%" class="glyphicon glyphicon-user" ></span>
                                                <input ng-model="register.name" type="text" class="form-control" style="display:inline;float:left;width:80%" placeholder="Full Name" >
                                             </div>
                                        </div>

                                        <div class="form-group form_input">
                                            <div class="input-group-lg" class="col-sm-8" >
                                                <span style="float:left;width:10%" class="glyphicon glyphicon-user" ></span>
                                                <input ng-model="register.username" type="text" class="form-control" style="display:inline;float:left;width:80%" placeholder="Username" >
                                             </div>
                                        </div>

                                        <div class="form-group form_input">
                                            <div class="input-group-lg" class="col-sm-8">
                                                <span style="float:left;width:10%" class="glyphicon glyphicon-envelope" ></span>
                                                <input ng-model="register.email" type="email" class="form-control" style="display:inline;float:left;width:80%" placeholder="Email Address">
                                            </div>
                                        </div>
                                        <div class="form-group form_input">

                                            <div class="input-group-lg" class="col-sm-8">
                                                <span style="float:left;width:10%" class="glyphicon glyphicon-lock" ></span>
                                                <input ng-model="register.password" type="password" class="form-control" style="display:inline;float:left;width:80%" placeholder="Password">
                                            </div>
                                        </div>

                                        <div class="form-group form_input">

                                            <div class="input-group-lg" class="col-sm-8">
                                                <span style="float:left;width:10%" class="glyphicon glyphicon-check" ></span>
                                                <input ng-model="register.confirmpassword" type="password" class="form-control" style="display:inline;float:left;width:80%" placeholder="Confirm Password">
                                            </div>
                                        </div>

                                        <div class="form-group form_input">

                                            <div class="input-group-lg" class="col-sm-8">
                                                <span style="float:left;width:10%" class="glyphicon glyphicon-earphone" ></span>
                                                <input ng-model="register.mobile" type="text" class="form-control" style="display:inline;float:left;width:80%" placeholder="Mobile Number">
                                            </div>
                                        </div>

                                        <div style="margin-top:30px" class="form-group">
                                            <div class="col-sm-9">
                                                <button ng-click="submitRegisterForm()" type="submit" class="btn btn-lg" style="margin-left:50px;float:left;background-color:#0E0E0E;color:white;overflow:auto">Join interviewmiles.com</button>

                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-sm-6">

                <button type="button" class="btn-lg dropdown-toggle" style="background-color:#0E0E0E;color:white;width:140px" data-toggle="modal" data-target="#signInModalEmail"> SIGN IN  </button>


                <div id="signInModalEmail" class="modal fade" role="dialog">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header" style="background-color:#187FD6">
                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                                <h4 class="modal-title" style="color:white;font-weight: bold;text-align:center;">Log into InterviewMiles</h4>
                            </div>
                            <div class="modal-body">
                                <div class="modal-body" style="background-color:white;">
                                    <form class="form-horizontal">

                                        <div class="form-group form_input">
                                            <div class="input-group-lg" class="col-sm-8" >
                                                <span style="float:left;width:10%" class="glyphicon glyphicon-user" ></span>
                                                <input ng-model="login.email" type="text" class="form-control" style="display:inline;float:left;width:80%" placeholder="Email ID" >
                                             </div>
                                        </div>

                                        <div class="form-group form_input">
                                            <div class="input-group-lg" class="col-sm-8">
                                                <span style="float:left;width:10%" class="glyphicon glyphicon-envelope" ></span>
                                                <input ng-model="login.password" type="password" class="form-control" style="display:inline;float:left;width:80%" placeholder="Password">
                                            </div>
                                        </div>

                                        <div style="float:right;">
                                            <a href="#" style="color:blue;">Forgot Password?</a>
                                        </div>

                                        <div style="margin-top:30px" class="form-group">
                                            <div class="col-sm-2 col-sm-offset-5 text-center"><button ng-click="submitLoginForm()" type="submit" class="btn-lg" style="background-color:#000000;color:white">Login</button>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



<!-- Marketing messaging and featurettes
    ================================================== -->
<!-- Wrap the rest of the page in another container to center all the content. -->

<div id="StepByStepProcess" style="background-color:#F5F5F5">


    <div style="width:100%">
        <div style="width:50%;float:left">
            <div style="padding-left:60px;padding-right:60px">
                <h2 class="featurette-heading">Step 1. <span class="text-muted">Sharpen your edge</span></h2>
                <p class="lead">Solve all the commonly asked interview questions from our constantly growing content. Aptitude, Puzzles, C++, Java, Data Structures, Algorithms. We've got you convered.</p>
            </div>
        </div>
        <div style="width:50%;float:right">
            <img style="width:100%;" src="LandingPage/Images/step1.jpg" alt="Generic placeholder image">
        </div>
    </div>
    <hr>

    <div style="width:100%;overflow:auto">
        <div style="width:50%;float:right;height:100%">
            <div style="padding-left:60px;padding-right:60px;">
                <h2 class="featurette-heading">Step 2. <span class="text-muted">Analyze</span></h2>
                <p class="lead">Using our comprehensive statistics, find your strengths and weaknesses. Iron out the chinks in your armour and become interveiw ready!</p>
            </div>
        </div>
        <div style="width:50%;float:left">
            <img style="width:100%;" src="LandingPage/Images/step2.jpg" alt="Generic placeholder image">
        </div>
    </div>

    <div style="width:100%;overflow:auto">
        <div style="width:50%;float:left">
            <div style="padding-left:60px;padding-right:60px">
                <h2 class="featurette-heading">Step 3. <span class="text-muted">Apply</span></h2>
                <p class="lead">Getting the job you want is all about preparation. When you feel prepared, apply to the companies you want to work for.</p>
            </div>
        </div>
        <div style="width:50%;float:right">
            <img style="width:100%;" src="LandingPage/Images/step3.jpg" alt="Generic placeholder image">
        </div>
    </div>

    <div style="width:100%;overflow:auto">
        <div style="width:50%;float:right">
            <div style="padding-left:60px;padding-right:60px">
                <h2 class="featurette-heading">Step 4. <span class="text-muted">Get Hired</span></h2>
                <p class="lead">Use the knowledge and practice you gained to crack the interviews and meet you career goals</p>
            </div>
        </div>
        <div style="width:50%;float:left">
            <img style="width:100%;" src="LandingPage/Images/step4.jpg" alt="Generic placeholder image">
        </div>
    </div>


</div><!-- /.container -->